.footer {
  background-color: rgb(151, 151, 141);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contacts-footer {
  display: flex;
  flex-direction: column;
}

.links {
  display: flex;
  gap: 20px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}